.myBody{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.navbar{
    background-color: #00696ba2 !important;
}

a{
    color: white !important;
}